img{
    height:200px
}
#h1{
    font-size: 4rem;
}
#h2{
    font-size: 2rem;
}
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container1{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
button{
    height:75px;
    width: 60%
}
.h{
    background-color: green;
    color: lightgreen;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
    border-radius: 25px;
}
.l{
    background-color:red;
    color:yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    border-radius:25px;
}
.correct{
    width: 54000px;
    height: 54000px;
}
h3{
    text-align: center;
    font-size: 2rem;
}